<div class="row">

  <div class="hero col-md-6 col-md-offset-3">
    
    <h3>Property yield summary</h3>
    <h5>You're looking at a yearly rental yield of <span> <%= number_to_currency(@property.yearly_yield, { unit: "£"}) %></span> or <span> <%=(@property.yearly_yield_percent).round(2)%>%</span></h5>
    
  </div>

</div>

<div class="row">

  <div class="yield col-md-6 col-md-offset-3">

  	<table class="table table-bordered">
      <tbody>

      <tr>
        <th>Post Code</th>
        <td><%=@property.postal_code%></td>
      </tr>
      <tr>
        <th>Property Price</th>
        <td><%=number_to_currency(@property.property_price, { unit: "£"})%></td>
      </tr>
      <tr>
        <th>Current Monthly Rent</th>
        <td><%=number_to_currency(@property.property_rent, { unit: "£"})%></td>
      </tr>
      <tr class="success">
        <th>Net Yearly Yield</th>
        <td><%=number_to_currency(@property.yearly_yield, { unit: "£"})%></td>
      </tr>
      <tr >
        <th>Net Yearly Yield Percentage</th>
        <td><%=(@property.yearly_yield_percent).round(2)%>%</td>
      </tr>
    </tbody>
  		
  	</table>
  </div>

</div>

<div class="row">

  <div class="hero col-md-6 col-md-offset-3">

    <%= link_to other_properties_path, remote: true do  %>
      <button type="button" class="btn btn-lg">Compare yield</button>
    <% end %>

    <div class="content"></div>

  </div>

</div>