<!DOCTYPE html>
<html>
<head>
  <title>Rental Yield Calculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name = "description" content="A simple app for calculating property rental yield and comparing to other nearby properties">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
  

    <div class="row">
  		<div class="col-md-8 col-md-offset-2">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to "Rental Yield", root_path, class: "navbar-brand" %>
            </div>
          </div>
        </nav>
  	  </div>
    </div>

    <%= yield %>

    <footer>
      <div class="row">
        Made by <%= link_to "James Robinson", "http://www.jamesarobinson.me", target: "_blank" %> | Rental yield uses the <%= link_to "Nestoria API", "http://www.nestoria.co.uk/", target: "_blank" %> 
      </div>
    </footer>

  </div>
</body>
</html>
